<!DOCTYPE html>
<html>
    <head>
        <title>Mobility project by CB and JG</title>
		<link rel="stylesheet" href="@{'/public/stylesheets/main.css'}" type="text/css"/> 
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>

    <body>
    	<div class="navbar navbar-default navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<a href="/" class="navbar-brand"><b>Mobility Project</b> by Clément Bérard and Jamil Ghazi</a>
        		</div>
        
        		<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav navbar-right">
            			<li><a href="#" class="not-active">M2 ICONE - 2016/2017</a></li>
            			<li><a href="#" class="not-active"> <img src="@{'/public/images/ulr.png'}" width="25" height="25"/> </a></li>
            			<li><a href="more">More about the project</a></li>
                  <li><a href="search"><img src="@{'/public/images/search.png'}" width="25" height="25"/></a></li>
                  <li><a href="map"><img src="@{'/public/images/map.png'}" width="25" height="25"/></a></li>
          			</ul>
          		</div>
      		</div>
    	</div>

      <br><br><br>
      <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
               <div class="col-lg-0 col-md-1 col-sm-4">
               </div>
                <div class="col-lg-12 col-md-10 col-sm-4">
                  <h1 class="textAlignCenter">Details of the project</h1><br>
                  <p class="lead textAlignCenter">This application has been developped using Java, and the entire code can be found on GitHub <a href="#" class="is-active">here</a>.</p>
                  <p class="lead textAlignCenter">This project has been created exclusively by <i>Clément Bérard</i> and <i>Jamil Ghazi</i>, the template being inspired by <a href="http://thomaspark.co/" target="_blank" class="is-active">Thomas Park</a>.</p>
                  <p class="lead textAlignCenter" style="margin-bottom:40px;">The technologies which have been used for this university workshop are presented below.</p>

                </div>
                <div class="col-lg-0 col-md-1 col-sm-4">
              </div>
              </div>
            </div>
        </div>

        <div class="container">
        
        <div class="row">
               <div class="col-lg-4 col-md-1 col-sm-4 " style="text-align:center;">
                <img src="@{'/public/images/play.png'}" style="max-width: 40%; height: auto; margin-top:40px; margin-left:-25px;"/>
               </div>
                <div class="col-lg-4 col-md-10 col-sm-4 " style="text-align:center;">
                    <img src="@{'/public/images/java.jpg'}" style="max-width: 55%; height: auto; margin-top:20px; margin-left:-30px;"/>

                </div>
                <div class="col-lg-4 col-md-1 col-sm-4 " style="text-align:center;">
                    <img src="@{'/public/images/elastic.png'}" style="max-width: 80%; height: auto; margin-top:45px; margin-left:20px;"/> 
              </div>
            </div>

            <div class="row">
               <div class="col-lg-4 col-md-1 col-sm-4 " style="text-align:center;">
                <img src="@{'/public/images/googlemap.png'}" style="max-width: 55%; height: auto; margin-top:70px; margin-left:-25px;"/>
               </div>
                <div class="col-lg-4 col-md-10 col-sm-4 " style="text-align:center;">
                    <img src="@{'/public/images/git.png'}" style="max-width: 50%; height: auto; margin-top:60px; margin-left:-15px;"/> 


                </div>
                <div class="col-lg-4 col-md-1 col-sm-4 " style="text-align:center;">
                    <img src="@{'/public/images/bootstrap.png'}" style="max-width: 53%; height: auto; margin-top:40px; margin-left:30px;"/>

              </div>
            </div>
          
        </div>

          
    </body>
</html>
